
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    background-color: rgb(255, 255, 255);
    min-height: 100%; 
    padding: 20px;
}


.bottom {
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #39393a42;

}

.bottom:hover {
    background-color: rgba(71, 54, 224, 0.101);
    transform: translateY(-2px); 
}


    /* Адаптивность для мобильных */
@media (max-width: 768px) {
    .nav {
        justify-content: space-around; /* Равномерное распределение на мобильных */
    }
    
    .bottom {
        min-width: 100px;
        font-size: medium;
        padding: 8px 16px;
    }
}
/* Дополнительные стили для формы */
.form-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(8, 87, 47, 0.3);
}

.submit-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: #0b0640;
}


/* Адаптивность для формы */
@media (max-width: 768px) {
    .form-container {
        margin: 20px 10px;
        padding: 20px;
    }
    
    .user-card {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Другие ваши глобальные стили */