.header{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    border-radius: 10px;

}
.main{
    width: 100%;
    height: 280vh;
    background-color: aqua;
    border-radius: 10px;

}
.footer{
    width: 100%;
    height: 10vh;
    background-color: aqua;
    border-radius: 10px;

}