.link{
    
    margin-right: 15px;
    padding: 8px 16px;
    color: #080857ff;
    background-color: white;
    border-radius : 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.limk:hover{
    background: rgb(243, 238, 238);
}
.block{
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
.blog{
    padding: 12px 20px;
    background: rgb(110, 157, 210);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}
.blog:hover{
    background: rgb(51, 109, 179);
}
.delete{
    display: flex;
    padding: 10px 20px;
    background-color: #e03849ad;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    
}
.delete:hover{
    background-color: #e03849d7;
}


